# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\engg\Master\Big Data Programming\GitHub Repo\lesson-13-Murarishetti-Shiva-Kumar\ICP 13\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
