# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\engg\Master\Big Data Programming\GitHub Repo\Big-Data-Programming\Project\Increment 2\Flask_Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
