# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\engg\Master\Big Data Programming\GitHub Repo\lesson-9-Murarishetti-Shiva-Kumar\ICP9\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
